venv/
logs/
.venv/
.ipynb_checkpoints
*.env
*.cfg

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars
crash.log

# Ansible
*.pem
*.key
.vault_pass
group_vars/secrets.yml